body.woocommerce-social-login .mfp-content .woocommerce {
	overflow: hidden;

	@include bp(md) {
		form.login {
			float: left;
			width: 50%;
			border-right: 1px solid #ddd;
			padding-right: 4%;
		}

		.wc-social-login {
			margin-top: 50px;
			text-align: center;
			float: right;
			width: 48%;
			padding: 0 4em;
		}

		#customer_login + .wc-social-login {
			padding: 0;
		}
	}
}

.wc-social-login {

	.button-social-login,
	a.button-social-login {
		font-size: 0;
		text-shadow: none;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 0;
		margin: 0 10px 10px 0;
		padding: 0;
		box-shadow: none;
		display: inline-block;

		.si {
			font-size: 22px;
			line-height: 50px;
			text-align: center;
			color: #fff;
			border: 0;
			right: 0;
			width: 100%;
			display: block;
			padding: 0;

			&.si-facebook:before {
				margin-left: -5px;
			}

			&.si-twitter:before {
				margin-right: -1px;
			}
		}
	}
}
